body {
    background-color: lightseagreen;

    front-family: 'Gill Sans MT', Calibri, 'Trebuchet MS',sans-serif;
}

.cat {

    background-color: lightblue;
    margin:0.5em;
    padding:1em;
    border-radius: 1em;
    border:1px solid lightseagreen;
    flex :1;

}

@media (min-width :960px) {
          
        .cats {
              display:flex;
              } 
}

fieldset {
    margin:1em;
    border:0;
}

buttom{

    padding:1em;
    border:3px solid;
    border-radius:0.5em;
} 

imput {

    padding:1em;
}